<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS(
            SELECT 1 FROM users WHERE email = #{email}
        )
    </select>

     <select id="findById" resultType="com.example.demo.entity.User">

        SELECT
            id,
            name,
            email,
            password,
            category_id AS categoryId,
            region_id AS regionId
        FROM users
        WHERE id = #{id}

    </select>

</mapper>