<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>ユーザ登録</title>
</head>

<body>
	<header th:replace="layout/_header :: header"></header>

	<main>
		<h1>ユーザ登録フォーム</h1>

		<form th:action="@{/register}" th:object="${form}" method="post">
			<p>
				<label>
					名前：<input type="text" th:field="*{name}" />
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</label>
			</p>
			<p>
				<label>
					メールアドレス：<input type="email" th:field="*{email}" />
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</label>
			</p>
			<p>
				<label>
					メールアドレス（確認用）：<input type="email" th:field="*{emailConfirm}" />
					<span th:if="${#fields.hasErrors('emailConfirm')}" th:errors="*{emailConfirm}"></span>
				</label>
			</p>

			<p th:if="${#fields.hasErrors('emailConfirmed')}" th:errors="*{emailConfirmed}"></p>
			<p>
				<label>
					パスワード：<input type="password" th:field="*{password}" />
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</label>
			</p>

			<p>
				<label>
					気になる地域：
					<select th:field="*{regionId}">
						<option value="">選択してください</option>
						<option value="1">宗谷</option>
						<option value="2">留萌</option>
						<option value="3">上川</option>
						<option value="4">オホーツク</option>
						<option value="5">根室</option>
						<option value="6">釧路</option>
						<option value="7">十勝</option>
						<option value="8">空知</option>
						<option value="9">石狩</option>
						<option value="10">後志</option>
						<option value="11">胆振</option>
						<option value="12">日高</option>
						<option value="13">檜山</option>
						<option value="14">渡島</option>
					</select>
				</label>
			</p>

			<p>
				<label>
					好きなカテゴリー：
					<select th:field="*{categoryId}">
						<option value="">選択してください</option>
						<option value="1">豚肉</option>
						<option value="2">牛肉</option>
						<option value="3">鶏肉/option>
						<option value="4">ジンギスカン</option>
						<option value="5">くじら肉</option>
						<option value="6">加工肉（ハム、ウインナー）</option>
						<option value="7">魚</option>
						<option value="8">貝</option>
						<option value="9">海藻</option>
						<option value="10">缶詰</option>
						<option value="11">珍味</option>
						<option value="12">日本酒</option>
						<option value="13">ウイスキー</option>
						<option value="14">焼酎</option>
						<option value="15">チューハイ</option>
						<option value="16">ワイン</option>
						<option value="17">シードル</option>
						<option value="18">ビール</option>
						<option value="19">牛乳</option>
						<option value="20">チーズ</option>
						<option value="21">ヨーグルト</option>
						<option value="22">バター、乳加工品</option>
						<option value="23">卵</option>
						<option value="24">いも類、里芋、山芋</option>
						<option value="25">大根、人参、根菜類</option>
						<option value="26">ほうれん草、チンゲン菜、葉物類</option>
						<option value="27">玉ねぎ、アスパラ、葉茎菜類</option>
						<option value="28">トマト、きゅうり、果菜類</option>
						<option value="29">納豆、豆腐、豆類</option>
						<option value="30">米</option>
					</select>
				</label>
			</p>
			<p><button type="submit">登録</button></p>
		</form>

		<a href="/">▶ トップページへ戻る</a>
	</main>

	<footer th:replace="layout/_footer :: footer"></footer>
</body>

</html>