<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マップ｜北ノ味</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/map.css}">
</head>
<body>

  <div th:replace="~{layout/_header :: header}"></div>

  <main class="main-content">
    <h2 class="section-title">北海道エリア一覧</h2>

    <div class="map-wrapper">
      <div class="map-container">

        <img th:src="@{/map_image/hokkaido.png}" alt="北海道地図">

        <a href="/home?regionId=1"  class="region-button ishikari">石狩</a>
        <a href="/home?regionId=2"  class="region-button iburi">胆振</a>
        <a href="/home?regionId=3"  class="region-button oshima">渡島</a>
        <a href="/home?regionId=4"  class="region-button okhotsk">オホーツク</a>
        <a href="/home?regionId=5"  class="region-button kamikawa">上川</a>
        <a href="/home?regionId=6"  class="region-button kushiro">釧路</a>
        <a href="/home?regionId=7"  class="region-button shiribeshi">後志</a>
        <a href="/home?regionId=8"  class="region-button souya">宗谷</a>
        <a href="/home?regionId=9"  class="region-button sorachi">空知</a>
        <a href="/home?regionId=10" class="region-button tokachi">十勝</a>
        <a href="/home?regionId=11" class="region-button nemuro">根室</a>
        <a href="/home?regionId=12" class="region-button hidaka">日高</a>
        <a href="/home?regionId=13" class="region-button hiyama">檜山</a>
        <a href="/home?regionId=14" class="region-button rumoi">留萌</a>

      </div>
    </div>
  </main>

</body>
</html>