<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">

  <select id="findAll" resultType="com.example.demo.entity.Product">
    SELECT id, name, price
    FROM products
    ORDER BY id
  </select>

  <select id="findById"
        parameterType="int"
        resultType="com.example.demo.entity.Product">

    SELECT
        p.id,
        p.name,
        p.weight,
        p.price,
        p.category_id,
        p.region_id,

        c.name AS category_name,
        r.name AS region_name

    FROM products p

    JOIN categories c
        ON p.category_id = c.id

    JOIN regions r
        ON p.region_id = r.id

    WHERE p.id = #{id}
  </select>

  <select id="findByCategoryId" resultType="com.example.demo.entity.Product">
    SELECT * FROM products 
    WHERE category_id = #{categoryId}
  </select>

  <select id="findByRegionId" resultType="com.example.demo.entity.Product">
    SELECT * FROM products 
    WHERE region_id = #{regionId}
  </select>

  <select id="findByRegionIdAndCategoryId" resultType="com.example.demo.entity.Product">
    SELECT * FROM products
    WHERE region_id = #{regionId} AND category_id = #{categoryId}
  </select>

  <select id="findByCategoryIds" resultType="com.example.demo.entity.Product">
    SELECT * FROM products 
    WHERE category_id IN
    <foreach item="id" collection="categoryIds" open="(" separator="," close=")">
        #{id}
    </foreach>
  </select>

  <select id="findByRegionIdAndCategoryIds" resultType="com.example.demo.entity.Product">
    SELECT * FROM products
    WHERE region_id = #{regionId} 
      AND category_id IN
    <foreach item="id" collection="categoryIds" open="(" separator="," close=")">
        #{id}
    </foreach>
  </select>

</mapper>